@media only screen and (max-width: 840px) {

    body {
        background-color: #f7f7f7;
        background-image: none;
    }

    header {
        background-image: url(/Ressourcen/berg&zimmer-img/sommerurlaub-seiser-alm-suedtirol.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    /************ Nav Bereich *******************/
    .logo-placeholder {
        width: 100%;
        max-height: 10%;
        left: 0%;
    }

    .logo-img {
        max-height: 100%;
        width: 20%;
        position: relative;
        left: 40%;
        background-color: #ddd2d2;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75)
    }
    .logo-nav-left {
        display: none;
    }

    .list-nav-button button {
        display: none;
    }

    nav {
        padding: 0% 0%;
        justify-content: space-evenly;
        background-color: transparent;

    }

    .menu-wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .menu-wrap .toggler {
        display: inherit;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Hamburger Line */
    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }

    /* Top and bottom lines */
    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

    /* Moves Line down */
    .menu-wrap .hamburger > div:after {
        top: 10px;
    }

    /* Toggler Animate */
    .menu-wrap .toggler:checked + .hamburger > div{
        transform: rotate(135deg);
    }

    /* Turn lines into X */ 
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    }

    /* Rotate on hover when checked */ 
    .menu-wrap .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }

    /* Show Menu */

    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }

    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: 0.4s;
    }

    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu > div {
        background: #f7f7f7;
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }

    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu > div > div > ul > li {
        font-size: 1.5rem;
        padding: 1rem;
        color: inherit;
    }

    .menu-wrap .menu > div > div > ul {
        display: block;
    
    }

    .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        transition: color 0.4 ease;
    }

    .list-nav li{
        text-align: left;
    }

    /* About Us Area**************************************/ 

    .about-us-content {
        display: inline-block;
    }

    .about-us-image {
        width: 100%;
        height: 500px;
        margin: 2% 0%;
        padding-right: 0;
        padding-left: 0;
    }

    
    .about-us-image div {
        background-image: url(/Ressourcen/berg&zimmer-img/valgardena.it.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }


    .about-us-text {
        width: 100% ;
    }

    .about-us {
        height: 140vh;
        overflow: hidden;
        transform: skewY(0deg);
        position: static;
    }

    .about-us-container {
        height: 100%;
        transform: skewY(0deg);
        margin: 0;
    }

    .about-us-image div::before {
        display: none;
    }



    /* Zimmer Area ****************************************/

    .zimmer {
        height: auto;
        transform: skewY(0deg);
        margin: 0;
        box-shadow: none;
    }

    .zimmer-container {
        transform: skewY(0deg)
    }
    .zimmer-container-img {
        display: block;
    }

    #zimmer-img {
        max-width: 100%;
        height: auto;
        padding: 0;
    }

    .zimmer-1-info::before {
        bottom: 78%;
        left: 40%;
    }

    .zimmer-2-info::before {
        bottom: 47%;
        left: 40%;
    }

    .zimmer-3-info::before {
        bottom: 14%;
        left: 40%;
    }

    /* karousel Area *************************************/

    .haus-info-container {
        transform: skewY(0deg)
    }

    .haus-info-information-container {
        display: block;
        height: 70vh;
    }

    .haus-info-information-carousel {
        height: auto;
        width: 100%;
    }

    .haus-info-information-text {
        width: 100%;
        text-align: center;
    }

    .haus-info-information-text h3 {
        text-align: center;
        width: 100%;
        color: #cf9a68;
    }

    /** Rezensionen Area ****************************/

    .rezensionen {
        height: 100vh;
        background-color: #f7f7f7;
    }
    .rezensionen-container {
        bottom: 8%;
        display: block;
        border-top: 2px solid rgba(128, 128, 128, 0.733);
        padding-top: 10px;
        height: 100%;
    }

    .rezensionen-slideshow {
        width: 100%;
        margin: 0;
    }
    

    .rezensionen-decoration {
        width: 100%;
        height: auto;
        text-align: right;
        padding-top: 60px;
        margin-bottom: -70px;
    }

    .rezensionen-decoration-text {
        width: 100%;
    }

    .rezensionen-decoration::after {
        left: 9%;
        height: 35%;
        width: 30%;
    }

    .prev {
        font-size: 5vw;
        padding: 4vw;
    }

    .next {
        font-size: 5vw;
        padding: 4vw;
    }

    .item-2-span {
        display: none;
    }
    /* Map Area *****************************/

    #lage h3 {
        padding: 3% 5%;
    }

    /********* Footer Area ************************/
    footer {
        display: inline-block;
    }




    /**************************** ZIMMER HTML DATEI!!!**************************************************************/

    .hero-zimmer-text {
        padding-top: 5%;
        border: 0;
    }
    .hero-zimmer-container {
        left: 0;
        top: 20%;
        width: 100%;
        height: 400px;
        text-align: center;
    }

    .hero-zimmer-container h3 {
        padding-bottom: 10%;
        color: #cf9a68;
    }

    .hero-zimmer-container a {
        padding: 5%;
        border: 1px solid black;
    }

    .zimmer-area {
        height: 330vh;
    }

    .zimmer-area p {
        padding: 10px 0px;
    }
/************************ Zimmer 1 *****************************/
    .zimmer-container-1 {
        display: block;
        padding: 0;
        height: auto;
        padding-bottom: 60px;
        padding-top: 40px;
    }

    .zimmer-area-text {
        width: 100%;
        height: auto;
    }

    .zimmer-area-img {
        width: 100%;
        padding: 0;
        padding-bottom: 60px;
    }

/************************ Zimmer 2 *******************************/

    .zimmer-container-2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        height: auto;
        padding: 0;
        padding-bottom: 60px;
    }

    .zimmer-area-text-2 {
        width: 100%;
        height: auto;
    }


/************************ Zimmer 3 *****************************/
    .zimmer-container-3 {
        display: block;
        padding: 0;
        height: auto;
        padding-bottom: 60px;
    }

/***************************** DEKO ZIMMER *****************************/
    .zimmer-area-text-2::after {
    width: 9%;
}
}

@media only screen and (max-width: 460px) {
    /************ About us Bereich *******************/
    .about-us-container h3 {
        font-size: 6vh;
    }

    .about-us {
        height: 150vh;
    }

    .about-us-container {
        height: 100%;
        margin: 0 1%;
    }

    /************ Zimmer Bereich *******************/

    .zimmer-container {
        padding: 0;
    }

    .zimmer-container h3 {
        padding: 10% 0%;
        color: #cf9a68;
    }

    .zimmer-1-info::before {
        bottom: 74%;
        left: 35%;
    }

    .zimmer-2-info::before {
        bottom: 44%;
        left: 35%;
    }

    .zimmer-3-info::before {
        bottom: 13%;
        left: 33%;
    }

    /********* Karousel Bereich *********************/
    .haus-info-information-container {
        height: 70vh;
    }
    .haus-info-information-container::before {
        height: 30%;
        bottom:20%;
    }

    /**************** Rezensionen Container *********************/
    .rezensionen {
        height: 120vh;
    }
    
    .rezensionen-container {
        padding-top: 5%;
        margin-top: 16%;
        height: 100vh;
    }

    .rezensionen-decoration::after {
        height: 40%;
        top: 8%;
        left: 0%;
    }

    .rezensionen-slideshow {
        height: 90%;
        padding-top: 45px;
    }

    .rezensionen-slideshow-text {
        height: 100%;
    }

    .rezensionen-slideshow::after {
        top: 90%;
        right: -10%;
        z-index: 0;
    }

    .rezensionen-slideshow::before {
        top: 90%;
        right: 92%;
        z-index: 1;
    }

    .span-item-1, .span-item-3, .span-item-2 {
        text-align: center;
    }

    
    /******************* Footer Area ************************/

    footer {
        height: 100%;
        padding: 0;
        text-align: center;
    }

    .footer-container {
        display: none;
    }

    .footer-mobile {
        display: block;
    }

    .footer-mobile-top {
        padding: 10% 0% 0% 0%;
    }

    .footer-mobile-button h3{
        font-size: 5vh;
        color: #cf9a68;
    }

    .footer-mobile-button button {
        width: 100%;
        border: 1px solid black;
        font-size: 22px;
        padding: 5%;
        margin: 20% 0%;
    }

    footer a {
        width: 100%;
    }

    .footer-mobile-button {
        padding: 0% 2%;
    }

    .footer-mobile-links li{
        padding: 5% 0%;
    }

    .right-area-footer-2, .left-area-footer-2 {
        margin: 0;
    }

    /********** Impressum *********************/
    .impressum-title {
        font-size: 4vh;
    }

    /******************************************* ZIMMER HTML CODE!!!***********************************/
    .zimmer-area {
        height: 350vh;
    }

}

@media only screen and (max-width: 400px) {
    .about-us {
        height: 150vh;
    }
}

@media only screen and (max-width: 660px){
    .logo-img {
        width: 25%;
        left: 35%;
    }
}

@media only screen and (max-width: 430px){
    .logo-img {
        width: 31%;
        left: 35%;
    }
}

@media only screen and (max-width: 370px){
    .logo-img {
        width: 40%;
        left: 35%;
    }
}
    