/****** Allgemeine Settings *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

.home-button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #686868ea;
    position: fixed;
    top: 85%;
    left: 2%;
    z-index: 10;
    opacity: 1;
    transition: 450ms ease-in-out;
}

.home-button:hover {
    transform: rotate(360deg);
    background-color: #ddd2d2;
}

.home-button:hover i {
    color: #686868ea;
}

.home-button i {
    color: white;
    font-size: 250%;
    position: relative;
    left: 29%;
    top: 29%;
    transition: 150ms;
}

/*** Language Button ****/

.language {
    color: white;
    position: fixed;
    top: 57%;
    left: 2%;
    z-index: 100;
    height: 60px;
    outline: none;
}

.language-container {
    height: 60px;
    display: grid;
    grid-template-rows: 120px 60px;
    grid-template-columns: 60px;
}

.language-auswahl {
    color: white;
    grid-template-rows: 40px 80px;
    grid-template-columns: 60px;
    justify-items: center;
    align-items: center;
    visibility: hidden;
    display: grid;
}

.language-aktuell-container {
    background-color:#686868de;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    height: 60px;
    width: 60px;
    transition: 200ms ease-in-out;
}

.language-aktuell-container p {
    font-size: 18px;
}

.language p {
    color: white;

}

.language-auswahl p {
    font-size: 12px;
}

.language-auswahl-link {
    background-color:#686868de;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: 200ms ease-in-out;
    transition-property: background-color;
}

.language-auswahl-link:hover {
    background-color: #ddd2d2ea;
}

.language-auswahl-link:hover p {
    color: #686868;
}

.language-container:hover .language-auswahl{
    visibility: visible;
}

.language-container:hover {
    outline: 0;
}

.language-aktuell-container:hover {
    background-color: #ddd2d2ea;
}

.language-aktuell-container:hover p {
    color: #686868;
}

/*** Font Family variert nach property --> h3 ist cursive, für spezielle sachen ***/

body {
    font-family: 'Comfortaa', cursive;
    color: rgb(68, 65, 65);
    background-color: #ddd2d2;
    background-image: url(/Ressourcen/berg&zimmer-img/sommerurlaub-seiser-alm-suedtirol.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h3 {
    font-family: 'Petit Formal Script', cursive;
    color: #cf9a68;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: rgb(68, 65, 65)
}

li {
    list-style: none;
}

button {
    border: 0px;
    background-color: transparent;
}

p {
    font-size: 18px;
}
/************************* RICHTIGER CODE ******************************************/


/************************* Navigation Bereich *************************************/
nav {
    display: flex;
    position: fixed;
    padding: 1% 10%;
    background-color: #ddd2d2;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    width: 100%;
    transition: 200ms ease;
}

nav:hover {
    padding: 2% 10%;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    
}

.logo-nav-left {
    margin: auto 0px;
}

.list-nav-right {
    display: flex;
    align-items: center;
}

.list-nav li {
    position: relative;
}

.list-nav-right ul {
    display: flex;
    align-items: center;
}

.list-nav-right li {
    margin: 19px;
    transition: background-color 250ms ease-in-out;
    font-size: 16px;
}

.logo-nav-left a {
    font-size: 25px;
}


.list-nav li:hover::after {
    transform: scaleX(1);
}

.list-nav li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 110%;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(.1);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
}

.list-nav-button button {
    background-color: rgba(255, 255, 255, 0.432);
    border: 1px solid black;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(68, 65, 65);
    position: relative;
    z-index: 1;
    transition: color 300ms ease-in-out;
}

.list-nav-button button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: -1px;
    left: -1px;
    border: 1px solid black;
    transform: scaleX(.0);
    transform-origin: left;
    z-index: -1;
    transition-property: transform, border, brackground-color;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.list-nav-button button:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

.list-nav-button button:hover {
    color: white;
}

.button-nav-link {
    margin-left: 22px;
}

.toggler {
    display: none;
}

.logo-img {
    max-height: 100%;
    width: 100%;
}

.logo-placeholder {
    position: fixed;
    left: 10%;
    z-index: 8;
    max-height: 100%;
    width: 10%;
    background-color: #ddd2d2;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.logo-placeholder:hover {
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
}


/**************************************** HERO BEREICH ****************************************/

header {
    height: 730px;
}

.hero-bereich {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
    vertical-align: middle;
}

.hero-text h3 {
    font-size: 45px;
    padding: 45px;
    text-shadow: 2px 2px rgba(44, 44, 44, 0.425);
    color: #f7f7f7;
}

.hero-text button {
    border: 1px solid #fff3db;
    border-radius: 5%;
    padding: 13px 22px;
    font-size: 18px;
    cursor: pointer;
    color: #fff3db;
    transition-property: background-color, text-shadow;
    transition: all 200ms ease-in-out;
    box-shadow: 0px 0px 3px 2px  rgba(44, 44, 44, 0.438)
}

.hero-text a {
    color: white;
}

.hero-text button:hover {
    background-color: rgba(255, 255, 255, 0.308);
    text-shadow: 2px 2px rgba(44, 44, 44, 0.425);
}

/**************************************** Mountain Icon *****************************************/


/**************************************** Über Uns BEREICH ****************************************/

.about-us {
    background-color: #f7f7f7;
    transform: skewY(5deg);
    position: relative;
    bottom: 70px;
    height: 860px;
    -webkit-box-shadow: 13px -3px 19px 13px rgba(0,0,0,0.54);
    -moz-box-shadow: 13px -3px 19px 13px rgba(0,0,0,0.54);
    box-shadow: 13px -3px 19px 13px rgba(0,0,0,0.54);
}
.about-us-container {
    height: 630px;
    margin: 10% 4%;
    transform: skewY(-5deg);
}

.about-us-container h3 {
    font-size: 4vw;
}

.about-us-content {
    display: flex;
    width: 100%;
    padding-top: 10%;
}

.about-us-content h3{
    color: #b89f88;
}

.about-us-image {
    overflow: hidden;
    padding-left: 3%;
    width: 60%;
}

.about-us-image div {
    background-image: url(/Ressourcen/berg&zimmer-img/valgardena.it.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.about-us-text {
    text-align: left;
    padding: 3%;
    border: 2px solid rgba(128, 128, 128, 0.685);
    width: 40%;
    text-align: center;
}

.about-us-text p {
    padding: 30px 0px 0px 0px;

}

.about-us-header {
    text-align: center;
    padding-top: 8%;
    font-size: 38px;
    color: #b89f88;
}

.about-us-image div::before {
    content: '';
    position: absolute;
    left: 38%;
    top: 50%;
    height: 60%;
    width: 50%;
    background-color: rgba(151, 140, 140, 0.466);
    z-index: -2;
}


.example_f {
    border-radius: 4px;
    background: #ddd2d2ee;
    border: 1px black;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    border-radius: 50px;
  }
  .example_f span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .example_f span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .example_f:hover span {
    padding-right: 25px;
  }
  .example_f:hover span:after {
    opacity: 1;
    right: 0;
  }

  .example_f span {
    color:rgb(68, 65, 65)
  }
/************************* Zimmer Bereich *************************************/
.zimmer {
    background-color: #f7f7f7;
    height: 2000px;
    margin-top: 15%;
    transform: skewY(5deg);
    -webkit-box-shadow: 13px -3px 19px 13px rgba(0,0,0,0.54);
    -moz-box-shadow: 13px -3px 19px 13px rgba(0,0,0,0.54);
    box-shadow: 13px -3px 19px 13px rgba(0,0,0,0.54);
    z-index: 0;
}

.zimmer-container {
    transform: skewY(-5deg);
    padding: 0 5%;
}

.zimmer-container h3 {
    padding: 4% 0%;
    text-align: center;
    color: #cf9a68;
    font-size: 2rem;
}

.zimmer-container-img {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
    flex-wrap: wrap;
    width: 100%;
}

#zimmer-img {
    max-width: 33%;
    padding: 0px 10px;
}

#zimmer-img img {
    transition: transform 200ms ease;
}

#zimmer-img div {
    max-width: 100%;
    height: auto;
}

#zimmer-img div img {
    max-width: 100%;
    height: auto;
}

/***.zimmer-1-info::before {
    content: 'Dolomiti';
    color: #fff3db;
    font-size: 1.5rem;
    position: absolute;
    bottom: 37%;
    left: 17%;
    text-shadow: 2px 2px rgba(44, 44, 44, 0.425);
}

/***.zimmer-2-info::before {
    content: 'Zimmer';
    color: #fff3db;
    font-size: 1.5rem;
    position: absolute;
    bottom: 37%;
    left: 47%;
    text-shadow: 2px 2px rgba(44, 44, 44, 0.425);
}


/***.zimmer-3-info::before {
    content: 'Breakfast';
    color: #fff3db;
    font-size: 1.5rem;
    position: absolute;
    bottom: 37%;
    left: 75%;
    text-shadow: 2px 2px rgba(44, 44, 44, 0.425);
}***/

/************************* Zimmer Bereich *************************************/


.haus-info-container {
    position: relative;
    z-index: 2;
    transform: skewY(-5deg);
    width: 100%;
    padding-top: 20%;
    overflow-x: hidden;
}

.haus-info-information-container {
    display: flex;
    height: 686px;
    overflow: hidden;
}

.haus-info-information-text {
    width: 30%;
    display: flex;
    align-items: center;
}

.haus-info-information-text h3 {
    padding: 4% 5%; 
    font-size: 2rem;
    color: #cf9a68;
    z-index: 6;
}

.haus-info-information-carousel {
    width: 70%;
    height: 20%;
}

.haus-info-information-container::before {
    content: '';
    position: absolute;
    left: 30%;
    bottom: 20%;
    width: 70%;
    height: 60%;
    background-color: rgba(207, 207, 207, 0.425);

}

/************************* Carousel Bereich *************************************/

/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
    width: 100%;
    height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1.5vw;
  color: white;
  font-weight: bold;
  font-size: 1.7vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1.1vw;
  padding: 0.8vw 1.1vw;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

/******************************** Quotes Bereich ************************************************/

.rezensionen {
    height: 430px;
    width: 100%;
}

.rezensionen-container {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 0% 10%;
    margin-top: 0%;
    position: relative;
    bottom: 62%;
}

.rezensionen-decoration {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.rezensionen-decoration::after {
    content: '';
    width: 35%;
    height: 50%;
    background-color: rgba(207, 207, 207, 0.425);
    position: absolute;
    top: 0%;
    left: 7%;
    z-index: 0;
}

.rezensionen-slideshow-text {
    height: 60%;
    width: 100%;
    border: 2px gray solid;
    position: relative;
    top: 20%;
    overflow: hidden;
}

.rezensionen-decoration-text h3 {
    font-size: 2.1rem;
    color: #cf9a68;
}

.rezensionen-slideshow-text span{
    color: #b89f88;
    font-size: 1.3rem;
    font-family: 'Petit Formal Script', cursive;
    font-weight: bold;
}

.span-item-1,
.span-item-3,
.span-item-2 {
    position: absolute;
    bottom: 13%;
}

.rezensionen-slideshow {
    height: 100%;
    width: 70%;
    position: relative;
    margin-left: 10%;
}

.rezensionen-slideshow-container {
    width: 100%;
    height: 100%;
}

.rezensionen-slideshow::before {
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    display: inline-block;
    position: absolute;
    top: 66%;
    right: 96%;
    font-weight: 900;
    width: 50px;
    height: 50px;
    background-color: #f7f7f7;
    font-size: 300%;
    color: #b89f88;
    z-index: 1;
    transform: rotate(0deg);
}

.rezensionen-slideshow::after {
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    display: inline-block;
    position: absolute;
    top: 66%;
    right: -2%;
    font-weight: 900;
    width: 50px;
    height: 50px;
    background-color: #f7f7f7;
    font-size: 300%;
    color: #b89f88;
    z-index: 1;
    transform: rotate(180deg);
}

.item-1, 
.item-2, 
.item-3 {
    position: absolute;
    display: block;
    width: 90%;
    height: 100%;
    font-size: 1.6rem;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color: black;
}

.item-1{
    animation-name: anim-1;
    padding: 10% 7%;
}

.item-2{
    animation-name: anim-2;
    padding: 10% 7%;
}

.item-3{
    animation-name: anim-3;
    padding: 10% 7%;
}

@keyframes anim-1 {
    0% { left: 0%; opacity: 0; }
    1% , 20% { left: 0%; opacity: 1; }
    33.33%, 100% { left: 100%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 0%; opacity: 1; }
  66.66%, 100% { left: 100%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 0%; opacity: 1; }
  100% { left: 100%; opacity: 0; }
}

/******************************** Map Bereich ************************************************/
.map {
    background-color: #f7f7f7;
    height: 630px;
    display: flex;
    flex-wrap: wrap;
    padding: 0% 10%;
}

.map-text h3 {
    font-size: 2rem;
    color: #cf9a68;
    padding-bottom: 4%;
}

.map-text {
    width: 100%;
    height: auto;
}

#map {
    width: 100%;
    height: 400px;
    z-index: 5;
    border: 1px solid rgba(59, 57, 57, 0.226);
}

.map-area {
    height: 400px;
    width: 100%;
}

.map::after {
    content: '';
    height: 60%;
    width: 80%;
    background-color: rgba(179, 170, 170, 0.336);
    position: relative;
    display: block;
    bottom: 80%;
    left: -10%;

}

/******************************** Footer Bereich ************************************************/

footer {
    height: 500px;
    width: 100%;
    background-color: #f7f7f7;
    padding: 3% 10%;
    border-top: 2px solid rgb(165, 165, 165);
}

footer a {
    cursor: pointer;
}

footer button {
    cursor: pointer;
}

.footer-container {
    width: 100%;
    height: auto;
}

.footer-top-area {
display: flex;
justify-content: space-evenly;
width: 100%;
height:auto;
}

.left-area-footer {
    width: 40%;
}

.right-area-footer {
    width: 40%;
}

.right-area-footer-links,
.left-area-footer-links {
    text-align: center;
}

.right-area-footer-2,
.left-area-footer-2 {
    margin: 30px 0px;
}

.middle-area-footer {
    font-size: 230%;
    width: 20%;
}

.footer-icons {
    text-align: center;
    padding-bottom: 40%;
    border-bottom: 1px solid rgb(160, 156, 156);
}

.fa-instagram {
    padding-right: 5%;
}

.fa-facebook {
    padding-left: 5%;
}

.middle-area-footer a {
    text-align: center;
}

.footer-book-button {
    text-align: center;
    height: 40%;
    padding-top: 25%;
}

.footer-book-button h3 {
    font-size: 2.1rem;
    padding-bottom: 10%;
}

.footer-book-button button {
    padding: 14px 50px;
    border: 1px solid black;
    font-size: 22px;
    position: relative;
    z-index: 1;
    transition: all 400ms ease-in-out;
}

.footer-book-button button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: -1px;
    left: -1px;
    border: 1px solid black;
    transform: scaleX(.0);
    transform-origin: right;
    z-index: -1;
    transition: transform 400ms ease-in-out;
}

.footer-book-button button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.footer-book-button button:hover {
    color: white;
}

.footer-mobile {
    display: none;
}

.right-area-footer-links a,
.left-area-footer-links a {
    position: relative;
}

.left-area-footer a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 110%;
    width: 100%;
    height: 1px;
    background-color: currentColor;

    transform: scaleX(.1);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
}

.right-area-footer-links a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 110%;
    width: 100%;
    height: 1px;
    background-color: currentColor;

    transform: scaleX(.1);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
}

.right-area-footer-links a:hover::after,
.left-area-footer-links a:hover::after {
    transform: scaleX(1);
}