/****** Allgemeine Settings *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Font Family variert nach property --> h3 ist cursive, für spezielle sachen ***/

body {
    font-family: 'Comfortaa', cursive;
    color: #b89f88;
    background-image: url(/Projekt/Ressourcen/IMG/wetransfer-615be1/saiser.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

h3 {
    font-family: 'Petit Formal Script', cursive;
    color: #fff3db
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #fff3db;
}

li {
    list-style: none;
}

button {
    border: 0px;
    background-color: transparent;
}

p {
    font-size: 1vw;
}
/************************* RICHTIGER CODE ******************************************/


/************************* Navigation Bereich *************************************/
nav {
    display: flex;
    position: fixed;
    padding: 0 10vw;
    background-color: #99755db7;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 100vw;
}

.logo-nav-left {
    margin: auto 0px;
}

.list-nav-right {
    display: flex;
    align-items: center;
}

.list-nav-right ul {
    display: flex;
    align-items: center;
}

.list-nav-right li {
    padding: 2vw;
    transition: background-color 250ms ease-in-out;
    font-size: 1vw;
}

.logo-nav-left a {
    font-size: 2.5vw;
}

header {
    background-image: url(/Projekt/Ressourcen/IMG/wetransfer-615be1/saiser.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.list-nav-right li:hover {
    background-color: #99755dec;
}

.list-nav-button button {
    border: 0.2vw solid #fff3db;
    border-radius: 5%;
    padding: 0.8vw 1.8vw;
    font-size: 1.2vw;
    cursor: pointer;
    color: #fff3db;
    transition-property: background-color;
    transition: all 200ms ease-in-out;
}

.button-nav-link {
    margin-left: 2vw;
}

.list-nav-button button:hover {
    background-color: rgba(255, 255, 255, 0.308);
}
/**************************************** HERO BEREICH ****************************************/
.hero-bereich {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
    vertical-align: middle;
}

.hero-text h3 {
    font-size: 4.5vw;
    padding: 3.5vw;
    text-shadow: 2px 2px rgba(44, 44, 44, 0.425)
}

.hero-text button {
    border: 0.2vw solid #fff3db;
    border-radius: 5%;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    cursor: pointer;
    color: #fff3db;
    transition-property: background-color, text-shadow;
    transition: all 200ms ease-in-out;
    box-shadow: 0px 0px 3px 2px  rgba(44, 44, 44, 0.438)
}

.hero-text a {
    color: white;
}

.hero-text button:hover {
    background-color: rgba(255, 255, 255, 0.308);
    text-shadow: 2px 2px rgba(44, 44, 44, 0.425);
}

/**************************************** Mountain Icon *****************************************/


/**************************************** Über Uns BEREICH ****************************************/
.about-us {
    background-color: #fff3db;
    transform: skewY(5deg);
    position: relative;
    bottom: 70px;
    height: 120vh;
    -webkit-box-shadow: 13px -3px 19px 13px rgba(0,0,0,0.54);
    -moz-box-shadow: 13px -3px 19px 13px rgba(0,0,0,0.54);
    box-shadow: 13px -3px 19px 13px rgba(0,0,0,0.54);
}
.about-us-container {
    height: 90vh;
    margin: 0% 10%;
    transform: skewY(-5deg);
}

.about-us-container h3 {
    font-size: 2vw;
}

.about-us-content {
    display: flex;
    width: 100%;
    margin: 3% 0%;
}

.about-us-content h3{
    color: #b89f88;
}

.about-us-image {
    max-width: 60%;
    overflow: hidden;
    padding-right: 3%;
}

.about-us-image div {
    max-width: 100%;
    height: auto;
}

.about-us-image div img {
    max-width: 100%;
    height: auto;
}

.about-us-text {
    width: 40%;
    text-align: left;
    padding-left: 3%;
    border-left: 2px solid rgba(128, 128, 128, 0.685);
}

.about-us-text p {
    padding: 30px 0px 0px 0px;

}

.about-us-header {
    text-align: center;
    padding-top: 8%;
    font-size: 2rem;
    color: #b89f88;
}

/************************* Zimmer Bereich *************************************/
.zimmer {
    background-color: #fff3db;
    height: 200vh;
    margin-top: 15%;
    transform: skewY(5deg);
    -webkit-box-shadow: 13px -3px 19px 13px rgba(0,0,0,0.54);
    -moz-box-shadow: 13px -3px 19px 13px rgba(0,0,0,0.54);
    box-shadow: 13px -3px 19px 13px rgba(0,0,0,0.54);
}

.zimmer-container {
    transform: skewY(-5deg);
    padding: 0 5%;
}

.zimmer-container h3 {
    padding: 4% 0%;
    text-align: center;
    color: #b89f88;
    font-size: 2vw;
}

.zimmer-container-img {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}

#zimmer-img {
    max-width: 33.3334%;
    padding: 0px 1vw;
}

#zimmer-img div {
    max-width: 100%;
    height: auto;
}

#zimmer-img div img {
    max-width: 100%;
    height: auto;
}

.zimmer-1-info::before {
    content: 'Dolomiti';
    color: #fff3db;
    font-size: 2vw;
    position: absolute;
    bottom: 37%;
    left: 15%;
    text-shadow: 2px 2px rgba(44, 44, 44, 0.425);
}

.zimmer-2-info::before {
    content: 'Zimmer';
    color: #fff3db;
    font-size: 2vw;
    position: absolute;
    bottom: 37%;
    left: 45%;
    text-shadow: 2px 2px rgba(44, 44, 44, 0.425);
}


.zimmer-3-info::before {
    content: 'Frühstück';
    color: #fff3db;
    font-size: 2vw;
    position: absolute;
    bottom: 37%;
    left: 75%;
    text-shadow: 2px 2px rgba(44, 44, 44, 0.425);
}

/************************* Zimmer Bereich *************************************/



.haus-info-container {
    position: relative;
    z-index: 2;
    padding: 2% 0%;
    margin: 5% 10%;
    border: 0.2vw solid #b89f88ce;
    transform: skewY(-5deg);
}

.haus-info-container h3{
    color: #b89f88;
    font-size: 2vw;
    text-align: center;
    padding-bottom: 1vh;
}

.haus-info-information {
    padding: 4vh;
}
/* external css: flickity.css */

